<div class="palm-scene">
	<div class="palm-page-header">
	    <div class="palm-page-header-wrapper">
	        <div class="icon news-mini-icon"></div>
	        <div class="title">Preferences</div>             
	    </div>
	</div>
	<div class="palm-group">
	    <div class="palm-group-title" id="prefMainGroupTitle"><span>Engine</span></div>
			<div class="palm-list preferences">
	            <div class="palm-row first">
	                <div class="palm-row-wrapper">
	                    <div x-mojo-element="ListSelector" id="prefMoveTime">
	                    </div>
	                </div>
	            </div>
	            <div class="palm-row">
	                <div class="palm-row-wrapper">
	                       <div x-mojo-element="ToggleButton" id="PlayWhteToggle">
	                       </div>
	                       <div class="title left" id="prefPlayWhte">Engine plays white</div>
	                </div>
	            </div>
	            <div class="palm-row">
	                <div class="palm-row-wrapper">
	                       <div x-mojo-element="ToggleButton" id="PlayBlckToggle">
	                       </div>
	                       <div class="title left" id="prefPlayBlck">Engine plays black</div>
	                </div>
	            </div>	            	            
	            <div class="palm-row">
	                <div class="palm-row-wrapper">
	                       <div x-mojo-element="ToggleButton" id="InvBoardToggle">
	                       </div>
	                       <div class="title left" id="prefInvBoard">Invert board</div>
	                </div>
	            </div>
	            <div class="palm-row">
	                <div class="palm-row-wrapper">
	                       <div x-mojo-element="ToggleButton" id="ShowInfoToggle">
	                       </div>
	                       <div class="title left" id="prefShowInfo">Show info</div>
	                </div>
	            </div>

	            	  <div class="palm-row">
		                <div class="palm-row-wrapper">
	                       <div x-mojo-element="Button" id="DownloadToggle">
	                       </div>
	                       
	            </div>
	      </div>	
	      </div>	            
	      </div>	            
				<div class="palm-group">					
	    	<div class="palm-group-title" id="prefMainGroupTitle"><span>General</span></div>
				<div class="palm-list preferences">
	            <div class="palm-row first">
	            		<div class="palm-row">
	                <div class="palm-row-wrapper">
	                       <div x-mojo-element="ToggleButton" id="MakeToneToggle">
	                       </div>
	                       <div class="title left" id="prefMakeTone">Sound</div>
	                </div>
	            </div>
	
	        </div>	
	        </div>	
	        </div>
	    </div>
	</div>
</div>