<div class="palm-scene">
	<div class="palm-page-header">
	    <div class="palm-page-header-wrapper">
	        <div class="icon news-mini-icon"></div>
	        <div class="title">About</div>             
	    </div>
	</div>
	
<div class="helpdetail">
	<div id="scroller" class="standardscreen" x-mojo-element="Scroller">
		
		<div class="palm-row">
				<div class="palm-row-wrapper" style="font-size:  14pt;" style="vertical-align:top;">		
				<table align="center">					  		
		   	<tr>								
			  <td>Advanced Chess 0.1.2</td>
				</tr>								
				<tr>								
			  <td>Stockfish 1.7</td>
				</tr>								
				</table>								
		 </div>		
		 </div> 
			
				<table align="left">
				<tr>				
				<td>&emsp</td> 
			  </tr>	
				<tr>				
				<td>Thanks to:</td> 
			  </tr>
			  </table>
			  
			  <table align="left">
			  <tr>				
				<td>&emsp</td> 
			  </tr>	

				<td>Niel Pearce, Rick Boatright</td> 
			  </tr>			  
			  <tr>
				<td>Tord Romstad, Marco Costalba </td>	
			  </tr>
		   	<tr>	
				<td>Joona Kiiski, Salvo Spitaleri</td>
				</tr>	
				</table>
				
			<div class="palm-row">
			<div class="palm-row-wrapper" style="font-size:  12pt;" style="vertical-align:top;">	
				<table align="left">
				<tr>				
				<td>&emsp</td> 
			  </tr>	
				<tr>				
				<td>Discussion at Precentral/Homebrew-Apps</td> 
			  </tr>
			  <tr>				
				<td>Mathias Eck,  m99e99@gmail.com</td> 
			  </tr>			  
			  </table>			  
			</div>    
			</div>
   
</div>
</div>
