    <div style="padding:0;">
    <table>
       <tr>
       <td style="height:38px;" style="font-size:medium;">
          <div id="gametime"></div>
        </td>
        </tr>
     </table>
        
      <table border="0" cellpadding="0" cellspacing="0" width="320" style="font-size:50%;">
        <tr style="height:">
          <td style="height:38px;">
            <div onclick="hu(0,0)" id="00"><img src="images/wb4.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(1,0)" id="10"><img src="images/bb2.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(2,0)" id="20"><img src="images/wb3.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(3,0)" id="30"><img src="images/bb5.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(4,0)" id="40"><img src="images/wb6.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(5,0)" id="50"><img src="images/bb3.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(6,0)" id="60"><img src="images/wb2.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(7,0)" id="70"><img src="images/bb4.png" /></div>
          </td>
        </tr>

        <tr style="height:">
          <td style="height:38px;">
            <div onclick="hu(0,1)" id="01"><img src="images/bb1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(1,1)" id="11"><img src="images/wb1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(2,1)" id="21"><img src="images/bb1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(3,1)" id="31"><img src="images/wb1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(4,1)" id="41"><img src="images/bb1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(5,1)" id="51"><img src="images/wb1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(6,1)" id="61"><img src="images/bb1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(7,1)" id="71"><img src="images/wb1.png" /></div>
          </td>
        </tr>

        <tr style="height:">
          <td style="height:38px;">
            <div onclick="hu(0,2)" id="02"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(1,2)" id="12"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(2,2)" id="22"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(3,2)" id="32"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(4,2)" id="42"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(5,2)" id="52"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(6,2)" id="62"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(7,2)" id="72"><img src="images/b.png" /></div>
          </td>
        </tr>

        <tr style="height:">
          <td style="height:38px;">
            <div onclick="hu(0,3)" id="03"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(1,3)" id="13"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(2,3)" id="23"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(3,3)" id="33"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(4,3)" id="43"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(5,3)" id="53"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(6,3)" id="63"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(7,3)" id="73"><img src="images/w.png" /></div>
          </td>
        </tr>

        <tr style="height:">
          <td style="height:38px;">
            <div onclick="hu(0,4)" id="04"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(1,4)" id="14"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(2,4)" id="24"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(3,4)" id="34"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(4,4)" id="44"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(5,4)" id="54"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(6,4)" id="64"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(7,4)" id="74"><img src="images/b.png" /></div>
          </td>
        </tr>

        <tr style="height:">
          <td style="height:38px;">
            <div onclick="hu(0,5)" id="05"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(1,5)" id="15"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(2,5)" id="25"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(3,5)" id="35"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(4,5)" id="45"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(5,5)" id="55"><img src="images/w.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(6,5)" id="65"><img src="images/b.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(7,5)" id="75"><img src="images/w.png" /></div>
          </td>
        </tr>

        <tr style="height:">
          <td style="height:38px;">
            <div onclick="hu(0,6)" id="06"><img src="images/ww1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(1,6)" id="16"><img src="images/bw1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(2,6)" id="26"><img src="images/ww1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(3,6)" id="36"><img src="images/bw1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(4,6)" id="46"><img src="images/ww1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(5,6)" id="56"><img src="images/bw1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(6,6)" id="66"><img src="images/ww1.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(7,6)" id="76"><img src="images/bw1.png" /></div>
          </td>
        </tr>

        <tr style="height:">
          <td style="height:38px;">
            <div onclick="hu(0,7)" id="07"><img src="images/bw4.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(1,7)" id="17"><img src="images/ww2.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(2,7)" id="27"><img src="images/bw3.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(3,7)" id="37"><img src="images/ww5.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(4,7)" id="47"><img src="images/bw6.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(5,7)" id="57"><img src="images/ww3.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(6,7)" id="67"><img src="images/bw2.png" /></div>
          </td>

          <td style="height:38px;">
            <div onclick="hu(7,7)" id="77"><img src="images/ww4.png" /></div>
          </td>
        </tr>
      </table>
    </div>

    <table style="font-size:medium;">
      <tr>
        <td>
          </td><td><div x-mojo-element="ListSelector" id="setTime" class="listselectorClass" name="setTime"></div>

          <!--<div style="font-size:medium;">-->
          <!--  Promote to <select class="images" name="5sec">-->
          <!--    <option value="5">-->
          <!--      5sec-->
          <!--    </option>-->
          <!---->
          <!--    <option value="2">-->
          <!--      10sec-->
          <!--    </option>-->
          <!---->
          <!--    <option value="3">-->
          <!--      15sec-->
          <!--    </option>-->
          <!---->
          <!--    <option value="4">-->
          <!--      infinite-->
          <!--    </option>-->
          <!--  </select>-->
          <!--</div>-->
        </td>

        <td style="height:38px;"></td>

        <td>
          <div id="BackButton" x-mojo-element="Button"></div>
        </td>  
        <td>
        <div id="PlayWhite" x-mojo-element="ToggleButton" class="toggle-text"></div>
        </td>
        <td>
        <div id="PlayBlack" x-mojo-element="ToggleButton" class="toggle-text"></div>
        </td>
      </tr>
    </table>        
</form>

<object type="application/x-palm-remote" id="polyglot" height="0" width="0" x-palm-pass-event="true">
<param name="appid" value="com.vocshopgames.chess">
<param name="exe" value="polyglot">
<!-- We don't parse any parameters in the plugin, but this is how you can send them on object creation
<param name="Param1" value="1">
<param name="Param2" value="2">
-->
</object>